thisWebUses: 'This site uses'
cookieFiles: 'cookies'
byUsingYouAgree: 'By using this site you agree.'
purposes: '(to provide services, personalize ads and analyzing traffic)'
ok: 'OK'
moreInfo: 'More information'