thisWebUses: 'Tento web používá'
cookieFiles: 'soubory cookie'
byUsingYouAgree: 'Používáním tohoto webu s tím souhlasíte.'
purposes: '(k poskytování služeb, personalizaci reklam a analýze návštěvnosti)'
ok: 'V pořádku'
moreInfo: 'Další informace'