thisWebUses: 'Diese Seite benutzt'
cookieFiles: 'Cookies'
byUsingYouAgree: 'Durch die Nutzung dieser Website erklären Sie sich.'
purposes: '(für die Bereitstellung von Dienstleistungen, Anzeigen zu personalisieren und Traffic-Analyse)'
ok: 'OK'
moreInfo: 'Weitere Informationen'